
/* http://bl.ocks.org/mbostock/4062045 */
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  -webkit-animation: dash 60s linear infinite;
  animation-direction: reverse;
  stroke-dasharray: 10, 20;
}

.fixed {
  border: 2px solid black;
}
